<div class="jumbotron center">
  <div class="container">
<h1>Everyone has a story to tell.</h1>
<h2>Spotlight lets everyday people share their stories, thoughts, and experiences – and be heard.</h2>

</br>

 <button class="btn btn-info btn-lg" type="button">Share Your Story</button>
<%= link_to "View Today's Spotlights", pages_spotlights_path, class: "btn btn-default btn-lg" %>

  </div>

<div class="page-header">
</br>
  <p>"Everyone has a license to speak, now it's a question of who gets heard." -Aaron Swartz</p>
</div>


</div>

